@import "nav";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $primary-background-color;
  color: $primary-text-color;
}

.col {
  width: 200px;
  height: 200px;
  font-size: 2rem;
}
